{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
</head>
<body>
  
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
        <input type="number" name="idade" id="idade" placeholder="Digite sua idade">
        <input type="submit" value="Enviar">
    </form>
   
</body>
</html>